body {
    background-color: #f0f0f0;
}

#musicProgress {
    width: 100%;
    height: 8px;

    -webkit-appearance: none;
    outline: none;

    border-radius: 2px;
}

#musicProgress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;

    -webkit-appearance: none;
    background-color: #f3f3f3;

    border-radius: 100%;
    border-style: solid;
    border-color: #48a4ff;
    border-width: 2px;
    transition: ease .2s;
}

#musicProgress::-webkit-slider-thumb:hover {
    background-color: #7abcff;
}

#musicProgress::-webkit-slider-thumb:active {
    background-color: #48a4ff;
}

#musicControls button {
    border-radius: 100%;
    background-color: none;
    text-decoration: none;
    height: 48px;
    width: 48px;
    margin: 0 5px;
    border-color: #000000;
    border-width: 1.5px;
    transition: ease 0.1s;
}

#musicControls button:hover {
    background-color: #e4e4e4c6;
}

#musicControls button:active {
    background-color: #ffffffc6;
    border-color: #f0f0f0;
}

#musicControls {
    display: flex;
    align-content: center;
    justify-content: center;
}